In [2]:
import pandas as pd
import numpy as np

In [7]:
alfa = pd.read_csv('data/alfa_reviews.csv')

In [8]:
alfa.head()

,bank_name,review_datetime,review_header,review_author_url,bank_answer_check,review_text,bank_answer_text,review_rating,review_author_name,review_url,bank_answer_datetime
0,alfabank,2017-04-08 13:37:10,Звонит агенство Сенсител,/profile/?UID=1070418,False,\n\t\t\t\t\t\t\tМне ежедневно на протяжении ме...,NaN,1,Елена=22,/services/responses/bank/response/10061124/,empty
1,alfabank,2017-04-08 11:27:42,Пропали деньги с карты,/profile/?UID=1066922,False,\n\t\t\t\t\t\t\tПо моему вопросу так никто и н...,NaN,3,Doctorgrig,/services/responses/bank/response/10061095/,empty
2,alfabank,2017-04-08 09:22:24,Отрицательный отзыв!,/profile/?UID=1017259,False,\n\t\t\t\t\t\t\tЗдравствуйте! Я не являюсь кли...,NaN,1,Евгения я,/services/responses/bank/response/10061076/,empty
3,alfabank,2017-04-07 21:10:20,Просьба к банку,/profile/?UID=1070258,False,"\n\t\t\t\t\t\t\tУважаемый мною Банк, доброго в...",NaN,1,dasha123.s,/services/responses/bank/response/10061039/,empty
4,alfabank,2017-04-07 18:03:24,хорошее обслуживание,/profile/?UID=552943,True,"\n\t\t\t\t\t\t\tВозникла проблема с тем, что п...","Уважаемый Клиент, мы рады, что Ваш вопрос реши...",5,yaroslavorloff,/services/responses/bank/response/10061006/,2017-04-07 18:15:34

In [11]:
alfa.columns

Index([u'bank_name', u'review_datetime', u'review_header',
       u'review_author_url', u'bank_answer_check', u'review_text',
       u'bank_answer_text', u'review_rating', u'review_author_name',
       u'review_url', u'bank_answer_datetime'],
      dtype='object')

In [37]:
alfa.shape

(20554, 13)

In [20]:
alfa['review_author_id'] = alfa['review_author_url'].apply(lambda x: x.split('=')[1])

In [26]:
alfa['review_id'] = alfa['review_url'].apply(lambda x: x.split('/')[-2])

In [43]:
len(alfa.review_id.unique())

20554

In [27]:
alfa_cat = pd.read_csv('data/alfa_category.csv')

In [32]:
alfa_cat.shape

(12033, 4)

In [29]:
alfa_cat.head()

  review_category bank_name                                   review_url
0         leasing  alfabank  /services/responses/bank/response/10030268/
1         leasing  alfabank   /services/responses/bank/response/8896088/
2         leasing  alfabank   /services/responses/bank/response/8841298/
3         leasing  alfabank   /services/responses/bank/response/8510554/
4         leasing  alfabank   /services/responses/bank/response/8393553/

In [30]:
alfa_cat['review_id'] = alfa_cat['review_url'].apply(lambda x: x.split('/')[-2])

In [44]:
len(alfa_cat.review_id.unique())

10124

In [31]:
alfa_cat.head()

,review_category,bank_name,review_url,review_id
0,leasing,alfabank,/services/responses/bank/response/10030268/,10030268
1,leasing,alfabank,/services/responses/bank/response/8896088/,8896088
2,leasing,alfabank,/services/responses/bank/response/8841298/,8841298
3,leasing,alfabank,/services/responses/bank/response/8510554/,8510554
4,leasing,alfabank,/services/responses/bank/response/8393553/,8393553

In [65]:
alfa_cat_union = (alfa_cat[['review_category', 'review_id']].groupby(['review_id'])['review_category'].
                  apply(lambda x: list(x)).reset_index())

In [136]:
alfa_cat_union.head()

  review_id               review_category
0  10000022                 [creditcards]
1  10000025  [businesscredits, corporate]
2  10000056                   [corporate]
3  10000089                 [creditcards]
4  10000119                   [corporate]

In [68]:
from sklearn.preprocessing import MultiLabelBinarizer

In [72]:
mlb = MultiLabelBinarizer()
alfa_cat_bin = mlb.fit_transform(alfa_cat_union.review_category)

In [74]:
mlb.classes_

array(['autocredits', 'businesscredits', 'businessdeposits', 'corporate',
       'creditcards', 'credits', 'debitcards', 'deposits', 'hypothec',
       'leasing', 'remote', 'restructing'], dtype=object)

In [83]:
alfa_cat_fin = (pd.DataFrame(alfa_cat_bin, columns=mlb.classes_).assign(review_id=alfa_cat_union.review_id))

In [84]:
alfa_cat_fin.head()

,autocredits,businesscredits,businessdeposits,corporate,creditcards,credits,debitcards,deposits,hypothec,leasing,remote,restructing,review_id
0,0,0,0,0,1,0,0,0,0,0,0,0,10000022
1,0,1,0,1,0,0,0,0,0,0,0,0,10000025
2,0,0,0,1,0,0,0,0,0,0,0,0,10000056
3,0,0,0,0,1,0,0,0,0,0,0,0,10000089
4,0,0,0,1,0,0,0,0,0,0,0,0,10000119

In [85]:
alfa_merge = pd.merge(alfa, alfa_cat_fin, how='left', on='review_id', sort=False)

In [86]:
alfa_merge.shape

(20554, 25)

In [97]:
alfa_merge.tail(5)

,bank_name,review_datetime,review_header,review_author_url,bank_answer_check,review_text,bank_answer_text,review_rating,review_author_name,review_url,...,businessdeposits,corporate,creditcards,credits,debitcards,deposits,hypothec,leasing,remote,restructing
20549,alfabank,2005-04-08 14:14:00,Плохой банк (филиал в Томске),/profile/?UID=,False,\n\t\t\t\t\t\t\tВ Томске пришли закрывать счет...,NaN,1,grek,/services/responses/bank/response/34999/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20550,alfabank,2005-04-07 15:56:00,Ужасный банк,/profile/?UID=,False,\n\t\t\t\t\t\t\t1. Деньги берут за все - за ...,NaN,1,Анна,/services/responses/bank/response/34640/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20551,alfabank,2005-04-06 23:02:00,"То что жадный, - это точно!",/profile/?UID=,False,"\n\t\t\t\t\t\t\tЧем мне нравится Альфа, все бы...",NaN,3,Мария,/services/responses/bank/response/34334/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20552,alfabank,2005-04-06 15:20:00,Плохой Банк,/profile/?UID=,False,"\n\t\t\t\t\t\t\tБанк плохой, проценты уменьшил...",NaN,1,Екатерина,/services/responses/bank/response/34230/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20553,alfabank,2005-04-06 12:59:00,Собираюсь уходить от них...,/profile/?UID=,False,"\n\t\t\t\t\t\t\tСначала (с открытием АБЭ), был...",NaN,1,Сергей,/services/responses/bank/response/34188/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
alfa_merge.memory_usage()

Index                   164432
bank_name               164432
review_datetime         164432
review_header           164432
review_author_url       164432
bank_answer_check        20554
review_text             164432
bank_answer_text        164432
review_rating           164432
review_author_name      164432
review_url              164432
bank_answer_datetime    164432
review_author_id        164432
review_id               164432
autocredits             164432
businesscredits         164432
businessdeposits        164432
corporate               164432
creditcards             164432
credits                 164432
debitcards              164432
deposits                164432
hypothec                164432
leasing                 164432
remote                  164432
restructing             164432
dtype: int64

In [91]:
alfa_merge.dtypes

bank_name                object
review_datetime          object
review_header            object
review_author_url        object
bank_answer_check          bool
review_text              object
bank_answer_text         object
review_rating            object
review_author_name       object
review_url               object
bank_answer_datetime     object
review_author_id         object
review_id                object
autocredits             float64
businesscredits         float64
businessdeposits        float64
corporate               float64
creditcards             float64
credits                 float64
debitcards              float64
deposits                float64
hypothec                float64
leasing                 float64
remote                  float64
restructing             float64
dtype: object

In [92]:
alfa_merge.values.nbytes

4110800

In [115]:
alfa_merge['review_rating'].replace('empty', 0).astype('int')[:5]

0    1
1    3
2    1
3    1
4    5
Name: review_rating, dtype: int64

In [138]:
alfa_merge.isnull().sum()

bank_name                   0
review_datetime             0
review_header               0
bank_answer_check           0
review_text                 0
bank_answer_text          349
review_rating               0
review_author_name          0
bank_answer_datetime     1587
review_author_id            0
review_id                   0
autocredits             10430
businesscredits         10430
businessdeposits        10430
corporate               10430
creditcards             10430
credits                 10430
debitcards              10430
deposits                10430
hypothec                10430
leasing                 10430
remote                  10430
restructing             10430
dtype: int64

In [140]:
alfa_merge.to_csv('process_data/alfa_merged.csv')

In [131]:
alfa_merge['bank_answer_check'].sum()-20554

-349

In [130]:
alfa_merge['bank_answer_check'][:20000].sum()

19939

In [137]:
del alfa_merge['review_author_url']
del alfa_merge['review_url']

In [144]:
def file_clean_merge(bank_name):
    reviews_data = pd.read_csv('data/{}_reviews.csv'.format(bank_name))
    reviews_data['review_author_id'] = reviews_data['review_author_url'].apply(lambda x: x.split('=')[1])
    reviews_data['review_id'] = reviews_data['review_url'].apply(lambda x: x.split('/')[-2])
    category_data = pd.read_csv('data/{}_category.csv'.format(bank_name))
    category_data['review_id'] = category_data['review_url'].apply(lambda x: x.split('/')[-2])
    category_data = (category_data[['review_category', 'review_id']].groupby(['review_id'])['review_category'].
                     apply(lambda x: list(x)).reset_index())
    mlb = MultiLabelBinarizer()
    category_bin = mlb.fit_transform(category_data.review_category)
    category_data = (pd.DataFrame(category_bin, columns=mlb.classes_).assign(review_id=category_data.review_id))
    data_merged = pd.merge(reviews_data, category_data, how='left', on='review_id', sort=False)
    data_merged['review_rating'].replace('empty', 0, inplace=True)
    del data_merged['review_author_url']
    del data_merged['review_url']
    data_merged.to_csv('process_data/{}_merged.csv'.format(bank_name))

In [150]:
for bank in ['alfa', 'avangard', 'binbank', 'fk_otkritie', 'raiffeisen', 'sberbank', 'tcs']:
    file_clean_merge(bank)